@media print {
  @page {
    margin-top: 0cm;
    padding: 0cm !important;
  }
  .full {
    width: 3.3cm;
    height: 1.7cm;
  }
  th, td {
    padding: 0px !important;
    border-bottom: 0px !important;
  }
  .pageBreak {
    display: block;
    page-break-after: always !important;
  }
  .print {
    display: block !important;
  }
}

.print {
  display: none;
}
