@media print {
  th, td {
    padding: 0px !important;
    border-bottom: 0px !important;
  }
  .pageBreak {
    page-break-after: always !important;
  }
  .print {
    display: block !important;
  }
}

.print {
  display: none;
}
